:root {
  --primary: #f9aa00;
  --main-text: #212121;
}

* {
  user-select: none;
  font-family: 'Teko';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
